@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: rgb(248, 248, 247);
  --divider: rgb(140, 255, 130);
	--header-letter-color: #00744f;
	--paragraph-letter-color: #0fa374;
}

* {
	min-width: 0;
}

img, video, svg {
	display: block;
	height: auto;
	max-width: 100%;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	margin: 0;
	min-height: 100dvh;
	background: rgb(248, 248, 247);
	/* background: linear-gradient(0deg, rgba(255,255,254,1) 0%, rgb(140, 255, 130) 100%);  */
}
h1, h2, h3, h4, h5, h6 {
	color: var(--header-letter-color);
	text-wrap: balance;
}
p {
	color: var(--paragraph-letter-color);
	text-wrap: pretty;
}
.divider {
	background: var(--divider);
}